div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  .scrollmenu a{
    color: #fff !important;
  }
  div.scrollmenu a:hover {
    background-color: #777;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }